@use "/src/assets/global.scss" as *;

.container {
  font-family: "Inter", sans-serif;
  background-color: $themeBgColor;
  border-radius: var(--borderRadius);
  padding: 25.5px 45px;
  margin-bottom: 24px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (max-width: 790px) {
    padding: 15px 20px;
    font-size: 14px;
  }

  .title {
    color: $themeColor;
    text-align: center;
    font-size: 19.9px;
    font-weight: 600;

    @media (max-width: 790px) {
      font-size: 16px;
    }
  }

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

    .formGroup {
      display: flex;
      flex-direction: column; // Stack label above input
      align-items: flex-start; // Align label to the left of the input
      justify-content: center;
      gap: 5px; // Reduce gap for tighter stacking

      @media (max-width: 1200px) {
        align-items: flex-start; // Keep left aligned
        gap: 0.5rem;
      }

      .select {
        padding: 0px 10px;
        font-size: 16.5px;
        height: 30px;
        width: 300px;
        max-width: 100%; // Allow shrinking on small screens
        font-family: "inter";
        box-sizing: border-box;
        border: none;
        border-radius: 4.5px;
        background-color: $inputBgColor;
        font-family: "inter";


        @media (max-width: 790px) {
          font-size: 14px;
        }

        @media (max-width: 350px) {
          width: 200px;
        }
      }
    }

    .submitButton {
      width: 150px;
      height: 45px;
    }
  }
}