@use "/src/assets/global.scss" as *;

.container {
  font-family: "Inter", sans-serif;

  .card {
    background-color: $themeBgColor;
    border-radius: var(--borderRadius);
    padding: 25.5px 45px;
    margin-bottom: 24px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .title {
      color: $themeColor;
      text-align: center;
      font-size: 19.9px;
      font-weight: 600;
    }

    .text {
      a {
        color: $linkColor;
      }
    }

    .warning {
      color: #ed1c24;
    }

    .formGroup {
      display: flex;
      gap: 20px;

      .selectGroup {

        label {
          margin-right: 10px;
          font-weight: 500;
        }

        select {
          padding: 0px 10px;
          font-size: 16.5px;
          height: 30px;
          width: 300px;
          border: none;
          border-radius: 4.5px;
          background-color: $inputBgColor;
          font-family: "inter";
        }
      }
    }

    .checkboxGroup {
      align-self: center;
      width: 40%;
      border: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 12px;

      label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        transition: background-color 0.2s;

        &:hover {
          background-color: rgba(26, 35, 126, 0.05);
        }

        input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-color: $themeBgColor;
          border: 2px solid #525252;
          border-radius: 4px;
          width: 16px;
          height: 16px;
          cursor: pointer;
          accent-color: $themeColor;

          &:checked {
            background: $checkbox-bg no-repeat center
              center/120%;
            border: none;
          }
        }
      }
    }

    .button {
      align-self: center;
      width: 140px;
      height: 45px;
      transition: all 0.2s ease;
    }
  }
}
