@use "/src/assets/global.scss" as *;

.certificates {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  gap: 15px;

  .selectCertificate {
    padding: 25.5px 45px;
    border-radius: var(--borderRadius);
    background-color: $themeBgColor;

    .certificateForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
      font-size: 18.75px;

      .title {
        color: $themeColor;
        font-weight: 600;
      }
      .formGroup {
        display: flex;
        width: 52%;
        align-items: center;

        .label {
          font-size: 18.75px;
          width: 350px;
          font-weight: 500;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input {
          padding: 0px 10px;
          font-size: 16.5px;
          height: 30px;
          width: 450px;
          border: none;
          border-radius: 4.5px;
          background-color: $inputBgColor;
          font-family: "inter";
        }
      }
    }

    .btnContainer {
      .applyBtn {
        width: 250px;
        padding: 12px;
      }
    }
  }
  .prevApplied {
    padding: 25.5px 45px;
    border-radius: var(--borderRadius);
    background-color: $themeBgColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 19.9px;
    .title {
      font-weight: 600;
      font-size: 18.75px;
      color: $themeColor;
    }
    .appliedCerti {
      span {
        font-weight: 500;
      }
    }
  }
}
