@use "/src/assets/global" as *;

.button {
  border: 1px solid $themeColor;
  background-color: #efefef;
  color: $themeColor;
  font-size: 16.8px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  padding: 16.5px;
  border-radius: 6px;

  &:hover {
    background-color: $themeColor;
    color: #efefef;
  }
}
