@use "/src/assets/global.scss" as *;

.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 25.5px 45px;
  border-radius: 22.5px;
  background-color: $themeBgColor;
  //   align-items: center;
  .detail {
    display: grid;
    grid-template-columns: 324px auto;
    font-family: "inter", sans-serif;
    font-size: 18.75px;
    .name {
      font-weight: 500;
    }
    .value {
      font-weight: 400;
      color: $themeColor;
      a {
        color: $linkColor;
      }
    }
  }
}
