@use "/src/assets/global.scss" as *;

.container {
  background-color: $themeBgColor;
  border-radius: var(--borderRadius);
  padding: 20px;
  font-family: "Inter";

  .title {
    color: $themeColor;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 19.9px;
    font-weight: 600;
  }

  .description {
    margin: 0 0 20px 0;
    font-size: 16px;
  }

  .tableWrapper {
    overflow-x: auto; // Enable horizontal scrolling

    th {
      background-color: $tableHeaderBgColor;
      font-weight: 600;
      color: $themeColor;
      padding: 10px; // Reduced padding
      font-size: 14px; // Reduced font size
      white-space: nowrap; // Prevent wrapping for compactness

      &:first-child {
        border-top-left-radius: 4.5px;
      }

      &:last-child {
        border-top-right-radius: 4.5px;
      }
    }

    td {
      background-color: white;
      padding: 10px; // Reduced padding
      font-size: 14px; // Reduced font size
      white-space: nowrap; // Prevent wrapping

      &:first-child {
        border-bottom-left-radius: 4.5px;
      }

      &:last-child {
        border-bottom-right-radius: 4.5px;
      }
    }
  }
}