@use "./global" as *;

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-top: 22px;
  .container {
    display: flex;

    width: 97vw;
  }

  .mainContent {
    display: flex;
    flex-grow: 1;
  }
}
