.content {
  padding: 20px;
  flex-grow: 1;
}

.contactDetails {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contactRow {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.notice {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

.notEligible {
  color: red;
}

