@use "./global" as *;

.header {
  background-color: $themeColor;
  color: white;
  padding: 21px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97vw;
  height: 120px;
  border-radius: 22.5px;

  .logoSection {
    display: flex;
    align-items: center;
    gap: 12px;

    .logo {
      width: 75px;
      height: 75px;
    }

    .campusDetails {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;

      .title {
        font-family: "EuropaGroteskMed";
        font-size: 28.5px;
        margin: 0;
        font-weight: 500;
        line-height: 0.9;
        height: fit-content;
        letter-spacing: 1px;
      }

      .campus {
        font-family: "EuropaGroteskReg";
        font-size: 21.75px;
        font-weight: 500;
        margin: 0;
        height: fit-content;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }

  .pageTitle {
    font-family: "EuropaGroteskMed";
    font-weight: 500;
    font-size: 37px;
    text-align: center;
    letter-spacing: 1px;
  }

  .userSection {
    display: flex;
    align-items: center;
    gap: 10px;

    .userImage {
      width: 52.5px;
      height: 52.5px;
      border-radius: 50%;
    }

    .userDetails {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .username {
        font-family: "EuropaGroteskMed";
        letter-spacing: 1px;
        font-size: 24.75px;
        font-weight: 500;
      }
      .userId {
        display: flex;
        font-family: "EuropaGroteskReg";
        // font-weight: 400;
        letter-spacing: 1px;
        justify-content: space-between;
        align-items: start;
        font-size: 19.5px;
        .dropdownArrow {
          width: 14px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
