@use "./global" as *;

@mixin menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 16px;
  height: 45px;
  min-height: fit-content;
}

.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .homebtn {
    @include menuItem;
    background-color: $themeBgColor;
    color: #000000;
    padding: 15px 22px;
    height: 59px;
  }

  .menu {
    border-radius: 16px;
    background-color: $themeBgColor;
    padding: 12px;
    height: fit-content;
    .menuItem {
      @include menuItem;
      color: #000000;
    }

    .menuItem:hover {
      background-color: #e0e0e0;
    }

    .activeMenuItem {
      @include menuItem;
      background-color: $themeColor;
      color: white;
      .menuIcon {
        filter: invert(1);
      }
    }
  }
}
