@use "/src/assets/global.scss" as *;

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  overflow: hidden;

  .mainContent {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .content {
      display: flex;
      flex-direction: column;
      gap: var(--mainContentGap);
      width: 100%;
      height: 100%;
      overflow: hidden;

      .headerContainer {
        padding-top: var(--mainContentPadding);
        padding-right: var(--mainContentPadding);
      }

      .scrollContainer {
        flex-grow: 1;
        overflow-y: auto;
        padding-right: var(--mainContentPadding);
        padding-bottom: var(--mainContentPadding);
        padding-left: var(--mainContentPadding); // Add Left Padding
        width: 100%;
      }
    }
  }
}