@use "/src/assets/global.scss" as *;

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainContent {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;

    .content {
      padding: var(--mainContentPadding) var(--mainContentPadding) var(--mainContentPadding) 0;
      display: flex;
      flex-direction: column;
      gap: var(--mainContentGap);
      width: 100%;
    }
  }
}