@use "/src/assets/global.scss" as *;

@keyframes logout {
  0% {
    opacity: 0;
    transform: translate(7%, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(7%, 10px);
  }
}

.header {
  background-color: $themeColor;
  color: white;
  padding: 21px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px;

  .logoSection {
    display: flex;
    align-items: center;
    gap: 12px;

    .logo {
      width: 75px;
      height: 75px;
    }

    .campusDetails {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;

      .title {
        font-family: "EuropaGroteskMed";
        font-size: 28.5px;
        margin: 0;
        font-weight: 500;
        line-height: 0.9;
        height: fit-content;
        letter-spacing: 1px;
      }

      .campus {
        font-family: "EuropaGroteskReg";
        font-size: 21.75px;
        font-weight: 500;
        margin: 0;
        height: fit-content;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }

  .pageTitle {
    font-family: "EuropaGroteskMed";
    font-weight: 500;
    font-size: 37px;
    text-align: center;
    letter-spacing: 1px;
  }

  .userSection {
    display: flex;
    align-items: center;
    gap: 20px;

    .userImage {
      width: 52.5px;
      height: 52.5px;
      border-radius: 50%;
    }

    .userDetails {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;

      .username {
        font-family: "EuropaGroteskMed";
        letter-spacing: 1px;
        font-size: 24.75px;
        font-weight: 500;
      }
      .userId {
        display: flex;
        font-family: "EuropaGroteskReg";
        letter-spacing: 1px;
        justify-content: space-between;
        align-items: center;
        font-size: 19.5px;
        gap: 15px;

        &:hover {
          cursor: pointer;
        }

        &:hover .dropdownArrow {
          cursor: pointer;
          transform: translateY(0px);
        }
        .dropdownArrow {
          transform: translateY(-2px);
          width: 14px;
          transition: transform 0.15s ease-in;
        }

        .activeDropdownArrow {
          width: 14px;

          rotate: 180deg;
        }
      }
      .hoverInfo {
        font-family: "inter", sans-serif;
        font-weight: 600;
        font-size: 18.75px;
        position: absolute;
        top: 100%;
        right: 0%;
        transform: translate(7%, 10px);
        width: 180px;
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid black;
        padding: 4px;
        z-index: 4;
        color: #ed1c24;
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in;
        transition-delay: 0.1s;

        .arrow {
          position: absolute;
          top: 0%;
          right: 0%;
          transform: translate(-100%, 50%);
          rotate: 90deg;
        }
        .msg {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 19px;
          border-radius: 10px;
          gap: 5px;
          .power {
            scale: 0.75;
          }
          &:hover {
            background-color: #e1e1e1;
            cursor: pointer;
          }
        }
      }
      .activeHover {
        display: block;
        animation: logout 0.3s ease-in forwards;
      }
    }
  }
}

@media screen and (max-height: 800px) {
  .header {
    height: 95px;
  }
}
@media screen and (max-height: 700px) {
  .header {
    height: 90px;
    .logoSection {
      .logo {
        width: 70px;
        height: 70px;
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .header {
    padding: 21px 20px;
    height: 90px;
    .logoSection {
      .logo {
        width: 60px;
        height: 60px;
      }
      .campusDetails {
        .title {
          font-size: 24px;
        }
        .campus {
          font-size: 18px;
        }
      }
    }
    .pageTitle {
      font-size: 30px;
    }
    .userSection {
      .userImage {
        width: 45px;
        height: 45px;
      }
      .userDetails {
        .username {
          font-size: 20px;
        }
        .userId {
          font-size: 16px;
        }
        .hoverInfo {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .header {
    // padding: 21px 10px;
    .logoSection {
      .logo {
        width: 70px;
        height: 70px;
      }
      .campusDetails {
        display: none;
        //   .title {
        //     font-size: 20px;
      }
      //   .campus {
      //     font-size: 15px;
      //   }
      // }
    }
    // .pageTitle {
    //   font-size: 25px;
    // }
    .userSection {
        .userImage {
          width: 60px;
          height: 60px;
        }
      .userDetails {
        display: none;
        //     .username {
        //       font-size: 18px;
        //     }
        //     .userId {
        //       font-size: 14px;
        //     }
        //     .hoverInfo {
        //       font-size: 14px;
      }
    }
    // }
  }
}
