@use "/src/assets/global.scss" as *;

.container {
  background-color: $themeBgColor;
  border-radius: var(--borderRadius);
  padding: 20px;
  font-family: "Inter";

  .header {
    padding: 15px;
    color: $themeColor;
    font-size: 19.8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .recNO{
      font-size: 14px;
      color: #525252;
      position: absolute;
      right: 15px;
    }
  }

  .table {
    th {
      background-color: $tableHeaderBgColor;
      font-weight: 600;
      color: $themeColor;
      &:first-child {
        border-top-left-radius: 4.5px;
      }
      &:last-child {
        border-top-right-radius: 4.5px;
      }
    }

    td {
      background-color: white;

      &:first-child {
        color: $themeColor;
        font-weight: 600;
      }
    }

    .headerRow {
      .headerCell {
        padding: 12px;
        text-align: center;
        font-weight: 600;
      }
    }
    .cell {
      padding: 12px;
      text-align: center;
    }
  }
}
