@use "/src/assets/global" as *;

.overview {
  width: 100%;
  font-family: "inter";
  font-size: 1rem;

  .contactDetails {
    background-color: $themeBgColor;
    padding: 20px 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;

    p {
      font-weight: 600;
    }

    .contactRow {
      display: flex;
      gap: 10px;
      margin: 10px 0;

      span {
        font-weight: 500;
      }

      a {
        color: $themeColor;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 18px;
          height: 18px;
        }
        p {
          font-weight: 400;
        }
      }
    }
  }

  .notice {
    background-color: $themeBgColor;
    padding: 20px 30px;
    border-radius: 15px;
    p {
      margin: 5px 0;
    }
    .notEligible {
      color: red;
    }
  }
}

@media screen and (max-width: 920px) {
  .overview {
    font-size: 0.8rem;
    .contactDetails {
      padding: 20px;
    }
    .notice {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 790px) {
  .overview {
    .contactDetails {
      padding: 20px 15px;
      .contactRow:nth-child(3) {
        a {
          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 175px;
          }
        }
      }
    }
    .notice {
      padding: 20px 15px;
    }
  }
}
