@use "/src/assets/global" as *;

@mixin menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 16px;
  height: 25px;
  min-height: fit-content;

  @media screen and (max-height: 835px), (max-width: 920px) {
    padding: 7px;
  }
  @media screen and (max-height: 726px), (max-width: 790px) {
    padding: 6px;
  }
}

.sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: var(--mainContentGap);
  font: 400 18.75px "Inter";
  cursor: default;
  user-select: none;
  padding: var(--mainContentPadding) var(--mainContentPadding) 0
    var(--mainContentPadding);

  .homebtn {
    @include menuItem;
    background-color: $themeBgColor;
    color: #000000;
    padding: 15px 22px;
    height: 50px;
    .homebtnIcon {
      scale: 0.75;
    }
  }

  .menu {
    border-radius: 16px;
    background-color: $themeBgColor;
    padding: 12px;
    height: fit-content;

    .menuItem {
      @include menuItem;
      color: #000000;
      &:hover {
        background-color: $hoverStateColor;
      }
    }

    .activeMenuItem {
      @include menuItem;
      background-color: $themeColor;
      color: white;
      .menuIcon {
        filter: invert(1);
      }
    }

    .menuIcon {
      scale: 0.75;
      margin-top: 3px;
    }
  }
}

@media screen and (max-height: 835px), (max-width: 920px) {
  .sidebar {
    .homebtn {
      padding: 13px 20px;
    }

    .menu {
      padding: 10px;
    }
  }
}
@media screen and (max-width: 920px) {
  .sidebar {
    font-size: 15px;
    width: 340px;
    .homebtn {
      .homebtnIcon {
        scale: 0.65;
      }
    }
    .menu {
      .menuIcon {
        scale: 0.65;
      }
    }
  }
}

@media screen and (max-height: 726px), (max-width: 790px) {
  .sidebar {
    .homebtn {
      padding: 11px 18px;
    }

    .menu {
      padding: 8px;
    }
  }
}
