@use "/src/assets/global.scss" as *;

.parentDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .label {
    color: $themeColor;
  }

  .title {
    font-size: 19.9px;
    font-weight: 600;
  }
  .autoFillData {
    display: flex;
    .label {
      width: 150px;
    }
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .incomeWrapper {
      display: flex;
      align-items: center;
      background-color: $inputBgColor;
      height: 30px;
      width: 300px;
      padding-right: 8px;
      border-radius: 4.5px;
      position: relative;

      .hoverInfo {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        width: 250px;
        background-color: #ffffff;
        padding: 10px 21px;
        border-radius: 10px;
        border: 1px solid black;
        display: none;

        img {
          position: absolute;
          top: 50%;
          left: 0%;
          transform: translate(-90%, -50%);
        }
      }

      &:focus-within {
        outline: 2px solid black;
        outline-offset: -3px;
      }

      .income {
        border-radius: 4.5px;
        padding-left: 10px;
        padding-right: 5px;
        font-size: 16.5px;
        height: 30px;
        flex: 1;
        border: none;
        font-family: "inter";
        background-color: $inputBgColor;

        &:focus {
          outline: none;
        }
      }

      .icon {
        scale: 0.75;
      }

      .icon:hover + .hoverInfo {
        display: block;
      }
    }

    .certificateType {
      padding: 0px 10px;
      font-size: 16.5px;
      height: 30px;
      width: 300px;
      border: none;
      border-radius: 4.5px;
      background-color: $inputBgColor;
      font-family: "inter";
    }
  }
}
