@use "/src/assets/global.scss" as *;

.container {
  font-family: "Inter", sans-serif;
  background-color: $themeBgColor;
  border-radius: var(--borderRadius);
  padding: 25.5px 45px;
  margin-bottom: 24px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .title {
    color: $themeColor;
    text-align: center;
    font-size: 19.9px;
    font-weight: 600;
  }

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

    .formGroup {
      display: flex;
      align-items: center;
      gap: 1rem;

      .select {
        padding: 0px 10px;
        font-size: 16.5px;
        height: 30px;
        width: 350px;
        border: none;
        border-radius: 4.5px;
        background-color: $inputBgColor;
        font-family: "inter";
      }
    }
    .submitButton {
      width: 150px;
      height: 45px;
    }
  }
  .notAvailable {
    color: #ed1c24;
    text-align: center;
  }
}
