@use "/src/assets/global.scss" as *;

.mainText {
  background-color: $themeBgColor;
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 20px;
  text-align: center;

  p {
    font-family: "Inter", sans-serif;
    font-size: 19px;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    a {
      color: $linkColor;
      text-decoration: none;
    }
  }
}