@use "/src/assets/global.scss" as *;

.mainText {
  background-color: $themeBgColor;
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  p {
    font-family: "Inter", sans-serif;
    font-size: 19px;
    a {
      color: $linkColor;
      text-decoration: none;
    }
  }
}
