@font-face {
  font-family: "EuropaGroteskReg";
  src: url("/fonts/EuropaGroteskSH-Reg.otf") format("opentype");
}
@font-face {
  font-family: "EuropaGroteskMed";
  src: url("/fonts/EuropaGroteskSH-Med.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$themeColor: #211d70;
$themeBgColor: #d9d9d9;
$linkColor: #0061ff;
$inputBgColor: #f4f4f4;
$tableHeaderBgColor: #ffe17f;
$tableBorderColor: #ea9830;
$hoverStateColor: #b3b3b3;
$bodyColor: #efefef;
$checkbox-bg: url("/public/svgs/Checkbox.svg");


:root {
  --borderRadius: 18px;
  --mainContentPadding: 18px;
  --mainContentGap: 20px;
}
@media screen and (max-height: 800px) {
  :root {
    --mainContentGap: 17px;
    --mainContentPadding: 16px;
  }
}
@media screen and (max-height: 700px) {
  :root {
    --mainContentGap: 12px;
    --mainContentPadding: 12px;
  }
  
}