@use "/src/assets/global" as *;

.navigator {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 54px;
  padding-left: 22px;
  font-family: "Inter";
  min-height: fit-content;

  a {
    color: black;
    text-decoration: none;
    display: flex;
    gap: 8px;

    img {
      width: 18px;
      height: 18px;
    }
  }
  .forwardArrowSVG {
    width: 9px;
    height: 9px;
  }
}
