@use "/src/assets/global" as *;

@mixin box {
  border: 1px solid $themeColor;
  font-size: 16.8px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  padding: 12px 16.5px;
  border-radius: 13.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s;
  min-width: 150px;

  @media screen and (max-width: 1210px) {
    font-size: 15px;
    padding: 12px 12px;
    min-width: 120px;
  }

  @media screen and (max-width: 1040px) {
    font-size: 14px;
    padding: 12px 10px;
    min-width: 100px;
  }
  @media screen and (max-width: 900px) {
    font-size: 13px;
    padding: 12px 8px;
    min-width: 80px;
  }
}

.navigator {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
  padding-left: 22px;
  font-family: "Inter";
  min-height: fit-content;

  a {
    color: black;
    text-decoration: none;
    display: flex;
    gap: 8px;

    img {
      width: 18px;
      height: 18px;
    }
  }
  .forwardArrowSVG {
    width: 9px;
    height: 9px;
  }

  .item {
    @include box;
    background-color: $bodyColor;
    color: $themeColor;
  }

  .activeItem {
    @include box;
    color: $bodyColor;
    background-color: $themeColor;
  }
}

@media screen and (max-width: 1210px) {
  .navigator {
    gap: 10px;
  }
}
@media screen and (max-width: 1040px) {
  .navigator {
    font-size: 13px;
    padding-left: 12px;
  }
}
@media screen and (max-width: 900px) {
  .navigator {
    gap: 5px;
  }
}
@media screen and (max-width: 815px) {
  .navigator {
    padding-left: 10px;
    gap: 3px;
    a {
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
}
