@use "/src/assets/global" as *;

@mixin box {
  border: 1px solid $themeColor;
  font-size: 16.8px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  padding: 16.5px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s;
}

.navigator {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 54px;
  padding-left: 22px;
  font-family: "Inter";
  min-height: fit-content;

  a {
    color: black;
    text-decoration: none;
    display: flex;
    gap: 8px;

    img {
      width: 18px;
      height: 18px;
    }
  }
  .forwardArrowSVG {
    width: 9px;
    height: 9px;
  }

  .item {
    @include box;
    background-color: $bodyColor;
    color: $themeColor;
    &:hover {
    }
  }

  .activeItem {
    @include box;
    color: $bodyColor;
    background-color: $themeColor;
  }
}
