@use "/src/assets/global.scss" as *;

.gate {
  font-family: "inter";
  .infoText {
    padding: 25.5px 30px;
    padding-top: 0px;
    font-size: 18.75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    a {
      color: $linkColor;
    }
  }
  .formContainer {
    padding: 25.5px 45px;
    border-radius: 22.5px;
    background-color: $themeBgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    .inputContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        appearance: textfield;
      }

      .formGroup {
        display: flex;
        .label {
          font-size: 18.75px;
          color: $themeColor;
          width: 350px;
          font-weight: 500;
        }
        .input {
          padding: 0px 10px;
          font-size: 16.5px;
          height: 30px;
          width: 400px;
          border: none;
          border-radius: 4.5px;
          background-color: $inputBgColor;
          font-family: "inter";
        }
        .short {
          width: 250px;
        }
        textarea {
          padding: 0px 10px;
          font-size: 16.5px;
          height: 100px;
          width: 400px;
          border: none;
          border-radius: 4.5px;
          background-color: $inputBgColor;
          font-family: "inter";
        }
      }
    }
    .saveBtn {
      width: 170px;
    }
  }
}
