@use "/src/assets/global.scss" as *;

.duplicateIdCard {
  font-family: "inter";
  display: flex;
  flex-direction: column;
  gap: 20px;

  .formContainer {
    padding: 25.5px 45px;
    border-radius: var(--borderRadius);
    background-color: $themeBgColor;

    @media (max-width: 790px) {
      padding: 15px 20px;
    }

    .duplicateForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .title {
        font-size: 18.75px;
        color: $themeColor;
        font-weight: 600;
        text-align: center;

        @media (max-width: 790px) {
          font-size: 16px;
        }
      }

      input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: $themeBgColor;
        border: 2px solid #525252;
        border-radius: 8px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        accent-color: $themeColor;

        &:checked {
          appearance: auto;
          background-color: $themeColor;
        }
      }

      .optsContainer {
        font-size: 19.9px;

        @media (max-width: 790px) {
          font-size: 14px;
        }

        display: flex;
        flex-direction: column;
        gap: 10px;

        .option {
          display: flex;
          align-items: center;

          gap: 8px;
        }
      }
    }

    .btnContainer {
      .submitBtn {
        width: 171.5px;
        padding: 12px;
      }
    }
  }

  .info {
    font-family: "inter";
    padding: 25.5px 30px;
    padding-top: 0px;
    font-size: 18.75px;

    @media (max-width: 790px) {
      padding: 15px 20px;
      font-size: 14px;
    }

    display: flex;
    flex-direction: column;
    font-weight: 600;

    ul {
      padding-left: 30px;

      li {
        font-weight: 400;
      }
    }
  }
}