@use "/src/assets/global.scss" as *;

.container {
  background-color: $themeBgColor;
  border-radius: var(--borderRadius);
  padding: 20px;
  font-family: "Inter";

  .title {
    color: $themeColor;
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 19.9px;
    font-weight: 600;
  }

  .dueDate {
    margin: 0 0 20px 0;
    font-size: 18px;

    .date {
      color: $themeColor;
      font-weight: 500;
    }
  }

  .tableWrapper {
    // overflow-x: auto;

    th {
      background-color: $tableHeaderBgColor;
      font-weight: 600;
      color: $themeColor;
      &:first-child {
        border-top-left-radius: 4.5px;
      }
      &:last-child {
        border-top-right-radius: 4.5px;
      }
    }

    td {
      background-color: white;

      &:first-child {
        color: $themeColor;
        font-weight: 600;
      }
    }

    .latestBalance {
      td {
        font-weight: 700;

        &:first-child {
          border-bottom-left-radius: 4.5px;
        }

        &:last-child {
          border-bottom-right-radius: 4.5px;
          font-weight: 600;
        }
      }
    }
  }
}

.note {
  margin-left: 30px;
  font-size: 14.6px;
}
