@use "/src/assets/global.scss" as *;

.container {
  background-color: $themeBgColor;
  border-radius: var(--borderRadius);
  padding: 20px;
  font-family: "Inter";

  .title {
    color: $themeColor;
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 19.9px;
    font-weight: 600;

    @media (max-width: 790px) {
      font-size: 16px;
    }
  }

  .dueDate {
    margin: 0 0 20px 0;
    font-size: 18px;

    @media (max-width: 790px) {
      font-size: 14px;
    }

    .date {
      color: $themeColor;
      font-weight: 500;
    }
  }

  .tableWrapper {

    th {
      background-color: $tableHeaderBgColor;
      font-weight: 600;
      color: $themeColor;

      &:first-child {
        border-top-left-radius: 4.5px;
      }

      &:last-child {
        border-top-right-radius: 4.5px;
      }
    }

    td {
      background-color: white;

      @media (max-width: 790px) {
        font-size: 14px;
        padding: 10px; // Compact padding for mobile
      }

      &:first-child {
        color: $themeColor;
        font-weight: 600;
      }
    }

    .latestBalance {
      td {
        font-weight: 700;

        &:first-child {
          border-bottom-left-radius: 4.5px;
        }

        &:last-child {
          border-bottom-right-radius: 4.5px;
          font-weight: 600;
        }
      }
    }
  }
}

.note {
  margin-left: 30px;
  font-size: 14.6px;

  @media (max-width: 790px) {
    font-size: 14px;
    margin-left: 0;
    text-align: center;
    padding: 0 20px;
  }
}