@use "/src/assets/global" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-top: 22.5px;
  .container {
    display: flex;

    width: 97vw;
  }

  .mainContent {
    display: flex;
    flex-grow: 1;
  }
}
